@model VVAResto.ViewModels.ProfilViewModel

@{
    ViewBag.Title = "Connexion";
}

<br />
<br />
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-4">
            @if (Model.Authentifie)
            {
                <h3>
                    <h2> Vous êtes déjà authentifié avec le login :</h2>
                    @Model.Profil.Identifiant
                </h3>
                @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
            }
            else
            {
                <h2>Veuillez vous authentifier :</h2>
                using (Html.BeginForm())
                {
                    <div>
                        @Html.LabelFor(m => m.Profil.Identifiant)
                        @Html.TextBoxFor(m => m.Profil.Identifiant, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Profil.Identifiant)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.Profil.Mdp)
                        @Html.PasswordFor(m => m.Profil.Mdp, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Profil.Mdp)
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary btn-lg">Se connecter</button>
                    <br />
                    <br />
                }
            }
        </div>
        <div class="col-lg-8">
            <img src="~/Content/Images/IMGAlpes.jpg" alt="Les Alpes!" class=img-responsive />
        </div>
    </div>
</div>

